<!-- BUTTON SCRIPT -->
<script>
    window.onload = function() {
        var user_gold = parseInt('{{current_user.gold}}');
        var user_id = '{{current_user.id}}';
        
        document.getElementById("gold-button").addEventListener("click", function() {
            user_gold += 1;
            document.getElementById("gold-value").textContent = `Gold: ${user_gold}`;
            socket.emit("update_gold", { user_id: user_id, user_gold: user_gold });
        });
        socket.on('disconnect', function() {
            console.log(`${user_id} has disconnected.`)
        });
    }
</script>
